*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.first-part{
    width: 81%;
    max-width: 1171px;
    margin: 0 auto;
    /* border:48px 134px 30px 133px; */
    border-color: red;
    /* background-color: aqua; */
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .raleway-large {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 36px;
    font-weight: 800;
  }

  .btn{
    box-sizing: border-box;
    border: 1px solid rgba(29, 209, 0, 0.4);
    border-radius: 12px;
    background: rgba(29, 209, 0, 0.1);
    font-weight: bold;
    }
    
.banner{

width: 1171px;
height: 550px;
left: 134px;
right: 135px;
top: 134px;
bottom: 3127px;
position: static;
}
.container{
  border-radius: 32px;
background: linear-gradient(180.00deg, rgba(3, 7, 18, 0.5),rgba(3, 7, 18, 0) 100%),url(1);
}
  
  
  
  