*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.first-part{
    width: 81%;
    max-width: 1171px;
    margin: 0 auto;
    /* border:48px 134px 30px 133px; */
    border-color: red;
    /* background-color: aqua; */
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .raleway-large {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 36px;
    font-weight: 800;
  }

  .btn{
    box-sizing: border-box;
    border: 1px solid rgba(29, 209, 0, 0.4);
    border-radius: 12px;
    background: rgba(29, 209, 0, 0.1);
    font-weight: bold;
    /* position:absolute */
    }
    
.banner{
width: 1171px;
height: 550px;
left: 134px;
right: 135px;
top: 134px;
bottom: 3127px;
position: static;
}
.container{
  border-radius: 32px;
background: linear-gradient(180.00deg, rgba(3, 7, 18, 0.5),rgba(3, 7, 18, 0) 100%),url(1);
}

.set{
  margin-top: 140px;
  margin-bottom: 48px;
}
.offers{
  /* Best offers for you */
/* position: absolute; */
width: 345px;
height: 47px;
left: 548px;
right: 547px;
top: 873px;
bottom: 2891px;
}
.copyone{
color: rgb(3, 7, 18);
font-size: 40px;
font-weight: 600;
line-height: 47px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 47px;
}
.cupone{
margin-bottom: 48px;
}
.see-offers{
  /* position:absolute; */
  object-position: center;
  padding-left: 46%;
  margin-bottom: 120px;
  
}
.partition{
  box-sizing: border-box;
  border-top: 2px solid rgb(29, 209, 0);
  border-radius: 88px 88px 0px 0px;
  background: rgb(247, 248, 248);
}
.programming{
  display: flex;
  justify-content: space-between;
}
.scary{
position: absolute;
width: 700px;
}
.gari{
  margin-left: 80px;
  font-weight: 800;
  
}
.coach-size{
  margin-left: 80px;
}
.schedule{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trying{
  margin-bottom: 200px;
}